body{
    overflow: hidden;
}
img.clickable {
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease;
}

img.clickable:hover {
    transform: scale(1.2);
}

.mapview__background {
    padding: 55%;
    animation: eauAnimee 2s ease infinite;
}

@keyframes eauAnimee {
    0% {
        background-image: url("frame_1.png");
    }
    15% {
        background-image: url("frame_2.png");
    }
    30% {
        background-image: url("frame_3.png");
    }
    45% {
        background-image: url("frame_4.png");
    }
    60% {
        background-image: url("frame_5.png");
    }
    75% {
        background-image: url("frame_6.png");
    }
    90% {
        background-image: url("frame_7.png");
    }
    100% {
        background-image: url("frame_8.png");
    }
}
